numpy
scipy
matplotlib
jupyter
ipywidgets
pillow
sklearn
pandas
appjar
opencv-contrib-python
tensorflow
keras
google-cloud-vision
google-cloud-logging
imageio
maxminddb-geolite2
newspaper3k
dash
dash-renderer
dash-html-components
dash-core-components
plotly
